extends layout.pug

block head
	title Index

block append styles

block append scripts
	script(src='/scripts/index.js')

block content
	div.list-cards
		each linkOption in linksOptions
			div.list-card-el.col-max-4
				div
					a(href=linkOption.href,title=linkOption.title) 
						img(src=linkOption.src)
