extends layout.pug

block head
	title Index

block append styles

block append scripts
	script(src='/scripts/index.js')

block content
	div.list-cards
		each linkOption in linksOptions
			div.list-card-el
				div
					a(href=linkOption.href) 
						img(src=linkOption.src)
