extends layout.pug

block head
	title Index

block append styles
	link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.css')

block append scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.js')

block content
	div.global-container
		div.editor
			fieldset.caption-container
				legend Illustration
				div
					span Import image from your computer
					input.uploader(type='file')
				div
					span Or paste an image URL here
					input.uploader-by-url(type='text')
				div.uploaded-image-container
					img.uploaded-image(crossorigin="")
			input.card-title(type='text',placeholder='Name')
			div.mana-cost-container
				input.card-mana-cost(type='text',placeholder='Mana cost')
				div.mana-cost-buttons
			input.card-type(type='text',placeholder='type')
			div.power-toughness-container
				input.card-power(type='text',placeholder='Power')
				span.power-toughness-separator /
				input.card-toughness(type='text',placeholder='Toughness')
			div.description-container
				textarea.card-description(placeholder="Description")
				div.description-buttons
			input.card-author(placeholder="Author",value="Zougouda")
			br 
			button.save-button(onclick="javascript:exportImg()") Download card
		div.preview
			canvas.preview-canvas(width='400',height='560')
