html
	head
		block head
			title My page title
		block styles
			link(rel='stylesheet',type='text/css',href='/styles/style.css')
		block scripts
			script(src='/scripts/user.js')
	body
		block header
			div.header
				a.index(href='/')
		block content
		block footer
			span By Cyril ANNETTE, 2018
			
