
extends layout.pug

block head
	title Cards list

block scripts
	script(src='/scripts/paginator.js')

block content
	div.list-cards
		each card in cards
			div.list-card-el.col-max-4
				div
					//- if card.title
					//- 	a(href="/edit-card?id="+card.id)
					//- 		span.title #{card.title}
					a(href="/edit-card?id="+card.id) 
						img(src="/images/savedCards/"+card.id+".png")
					if card.author
						span.author by #[a(href="/list-cards?userID="+card.userID) #{card.author}]
					else
						span.author By Anonymous 

		div.paginator
			
	script
		|window.count = #{count};
		|window.maxPerPage = #{maxPerPage}
