/* Limit image width to avoid overflow the container */
img {
  max-width: 100%;
  /* This rule is very important, please do not ignore this! */
}
* {
  box-sizing: border-box;
}
*.hidden {
  display: none;
}
body {
  position: relative;
}
/* Header */
.header {
  margin-bottom: 30px;
}
.header .search {
  float: right;
}
.header a.index {
  display: block;
  margin: 0 auto;
  background-image: url('/images/Index.jpg');
  width: 150px;
  height: 107px;
  background-size: 150px 107px;
  transition: all 0.2s;
}
.header a.index:hover {
  transform: scale(1.05);
}
/* Footer */
footer {
  position: absolute;
  bottom: -50px;
  /* always at bottom */
  left: 0;
  right: 0;
}
/* Editor */
.global-container {
  width: 100%;
}
.editor,
.preview {
  width: 50%;
  min-height: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}
.preview-canvas {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
}
.editor {
  /* Hearthstone-specific */
  /* Gwent-specific */
}
.editor .card-class-selector {
  display: none;
}
.editor[data-pattern="hearthstone"] .card-class-selector {
  display: inline;
}
.editor .card-faction-selector,
.editor .card-row-selector,
.editor .card-border-selector {
  display: none;
}
.editor[data-pattern="gwent"] .card-mana-cost,
.editor[data-pattern="gwent"] .card-type,
.editor[data-pattern="gwent"] .power-toughness-separator,
.editor[data-pattern="gwent"] .card-toughness {
  display: none;
}
.editor[data-pattern="gwent"] .card-faction-selector,
.editor[data-pattern="gwent"] .card-row-selector,
.editor[data-pattern="gwent"] .card-border-selector {
  display: inline;
}
.editor .pattern-selector img:hover {
  cursor: pointer;
}
.editor .caption-container input {
  display: inline-block;
  margin-left: 15px;
  min-width: 0;
  width: 100px;
}
.editor input,
.editor textarea {
  display: block;
  min-width: 200px;
}
.editor textarea {
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-height: 100px;
}
.editor input,
.editor textarea,
.editor .mana-cost-container {
  margin-top: 10px;
}
.editor .card-mana-cost,
.editor .mana-cost-buttons {
  display: inline-block;
  margin-top: 0;
}
.editor .card-type {
  display: inline-block;
}
.editor .card-rarity-selector {
  display: inline-block;
  margin-left: 15px;
}
.editor .card-rarity-selector .common {
  padding-left: 24px;
}
.editor input.card-premium {
  display: inline;
  margin: 0 5px 0 10px;
  min-width: auto;
}
.editor input.card-power,
.editor input.card-toughness {
  margin-top: 0;
  width: 80px!important;
  min-width: 0;
  display: inline-block;
}
.editor .power-toughness-container {
  margin-top: 10px;
}
.editor .power-toughness-separator {
  margin: 0 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.editor .uploaded-image-container {
  max-width: 80%;
  max-height: 300px;
  margin: 10px auto;
}
.editor .uploaded-image-container img {
  height: 100%;
}
.editor .icons-picker-button {
  margin: 0 1px;
}
.editor button {
  margin: 4px 4px 4px 0;
}
.editor .delete-button {
  margin-left: 20px!important;
  color: red;
}
/* list-cards */
.list-cards {
  width: 100%;
  margin: 0 auto;
}
.list-cards .list-card-el {
  width: 25%;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
  margin-bottom: 15px;
}
.list-cards .list-card-el img,
.list-cards .list-card-el .title {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.list-cards .list-card-el img {
  transition: all 0.2s;
  margin-bottom: 15px;
}
.list-cards .list-card-el img:hover {
  transform: scale(1.05);
}
.list-cards .list-card-el .favorite {
  float: right;
}
.list-cards .list-card-el .favorite label,
.list-cards .list-card-el .favorite input.add-to-favorites {
  display: inline-block;
}
.list-cards .list-card-el.col-max-4 {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}
.list-cards .list-card-el.col-max-5 {
  width: 16%;
  margin-left: 2%;
  margin-right: 2%;
}
.list-cards .list-card-el.col-max-6 {
  width: 12%;
  margin-left: 2%;
  margin-right: 2%;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .list-cards .list-card-el {
    width: 42%!important;
    margin-left: 4%!important;
    margin-right: 4%!important;
  }
}
@media only screen and (max-width: 719px) {
  .list-cards .list-card-el {
    width: 70%!important;
    margin-left: 15%!important;
  }
}
.list-cards .paginator {
  margin-top: 25px;
  text-align: center;
}
.list-cards .paginator .page {
  margin: 5px;
  font-size: large;
  font-weight: bold;
  color: black;
}
.list-cards .paginator a.page {
  color: blue;
}
.list-cards .paginator a.page:visited,
.list-cards .paginator a.page:active {
  color: blue;
}
