/* Limit image width to avoid overflow the container */
img {
  max-width: 100%;
  /* This rule is very important, please do not ignore this! */
}
* {
  box-sizing: border-box;
}
*.hidden {
  display: none;
}
body {
  position: relative;
  background-color: #EEE;
}
/* Header */
.header {
  margin-bottom: 30px;
}
.header .search {
  float: right;
}
.header a.index {
  display: block;
  margin: 0 auto;
  background-image: url('/images/Index.jpg');
  width: 150px;
  height: 107px;
  background-size: 150px 107px;
  transition: all 0.2s;
}
.header a.index:hover {
  transform: scale(1.05);
}
/* Footer */
footer {
  position: absolute;
  bottom: -50px;
  /* always at bottom */
  left: 0;
  right: 0;
}
/* Editor */
.global-container {
  width: 100%;
}
.editor,
.preview {
  width: 50%;
  min-height: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}
.preview {
  position: sticky;
  top: 0px;
}
.preview-canvas,
.preview-canvas-2 {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
}
.preview-canvas-2 {
  display: none;
}
.editor[data-pattern="magic-transform"] + .preview canvas {
  display: inline-block;
  width: 50%;
}
.editor[data-pattern="magic-split"] + .preview canvas {
  transition: transform 0.4s;
}
.editor[data-pattern="magic-split"] + .preview canvas:hover {
  transform: rotate(90deg);
}
.editor {
  /* Magic-specific */
  /* Magic-Planeswalkers */
  /* Magic Dual templates */
  /* Hearthstone-specific */
  /* Gwent-specific */
  /* Yu-gi-oh specific */
}
.editor .mtg,
.editor .mtg-pw,
.editor .mtg-transform,
.editor .mtg-split,
.editor .mtg-flip,
.editor .hs,
.editor .gw,
.editor .ygo {
  display: none;
}
.editor[data-pattern="magic"] .mtg {
  display: initial;
}
.editor[data-pattern="magic"] .mtg-off,
.editor[data-pattern="magic-pw"] .mtg-off,
.editor[data-pattern="magic-transform"] .mtg-off,
.editor[data-pattern="magic-split"] .mtg-off,
.editor[data-pattern="magic-flip"] .mtg-off {
  display: none!important;
}
.editor[data-pattern="magic-pw"] .mtg-pw {
  display: initial;
}
.editor[data-pattern="magic-pw"] .mtg-pw-off {
  display: none!important;
}
.editor[data-pattern="magic-transform"] .mtg-transform {
  display: block;
}
.editor[data-pattern="magic-split"] .mtg-split {
  display: initial;
}
.editor[data-pattern="magic-flip"] .mtg-flip {
  display: initial;
}
.editor[data-pattern="hearthstone"] .hs {
  display: initial;
}
.editor[data-pattern="hearthstone"] .hs-off {
  display: none!important;
}
.editor[data-pattern="gwent"] .gw {
  display: initial;
}
.editor[data-pattern="gwent"] .gw-off {
  display: none!important;
}
.editor[data-pattern="yu-gi-oh"] .ygo {
  display: initial;
}
.editor[data-pattern="yu-gi-oh"] .ygo-off {
  display: none!important;
}
.editor .pattern-selector img {
  transition: all 0.2s;
}
.editor .pattern-selector img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.editor .caption-container input {
  margin-left: 15px;
  min-width: 0;
  width: 100px;
}
.editor input,
.editor select {
  margin-top: 5px;
}
.editor label {
  margin-right: 5px;
}
.editor input,
.editor textarea {
  display: block;
}
.editor textarea {
  width: 100%;
  height: 150px;
  max-width: 100%;
  min-height: 100px;
}
.editor .card-mana-cost,
.editor .mana-cost-buttons,
.editor .card-mana-cost-2,
.editor .mana-cost-buttons-2 {
  display: inline-block;
  margin-top: 0;
}
.editor .mana-cost-buttons {
  vertical-align: top;
  width: calc(100% - 200px);
}
.editor .card-rarity-selector .common {
  padding-left: 24px;
}
.editor input.card-premium {
  display: inline;
  min-width: auto;
}
.editor input.card-power,
.editor input.card-toughness,
.editor input.card-power-2,
.editor input.card-toughness-2 {
  margin-top: 0;
  width: 80px!important;
  min-width: 0;
  display: inline-block;
}
.editor .power-toughness-separator {
  margin: 0 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
.editor .uploaded-image-container {
  max-width: 80%;
  margin: 10px auto;
}
.editor .icons-picker-button {
  margin: 1px 1px;
}
.editor .description-buttons {
  margin-bottom: 5px;
}
.editor button {
  margin: 4px 4px 4px 0;
}
.editor .delete-button {
  margin-left: 20px!important;
  color: red;
}
/* list-cards */
.list-cards {
  width: 100%;
  margin: 0 auto;
}
.list-cards .list-card-el {
  width: 25%;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
  margin-bottom: 15px;
}
.list-cards .list-card-el img,
.list-cards .list-card-el .title {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.list-cards .list-card-el div {
  position: relative;
}
.list-cards .list-card-el div img {
  transition: all 0.4s;
  margin-bottom: 15px;
  transform-style: preserve-3d;
}
.list-cards .list-card-el div .transformed {
  opacity: 0;
  transform: rotateY(0deg) scale(1, 1);
  left: -100000px;
  position: absolute;
}
.list-cards .list-card-el div:hover img {
  transform: scale(1.05);
}
.list-cards .list-card-el div.can-transform:hover img.transformed {
  opacity: 1;
  position: initial;
  transform: rotateY(180deg) scale(-1.05, 1.05);
}
.list-cards .list-card-el div.can-transform:hover img.untransformed {
  opacity: 0;
  position: absolute;
  transform: rotateY(180deg) scale(-1.05, 1.05);
}
.list-cards .list-card-el div .favorite {
  float: right;
}
.list-cards .list-card-el div .favorite label,
.list-cards .list-card-el div .favorite input.add-to-favorites {
  display: inline-block;
}
.list-cards .list-card-el.col-max-4 {
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}
.list-cards .list-card-el.col-max-5 {
  width: 16%;
  margin-left: 2%;
  margin-right: 2%;
}
.list-cards .list-card-el.col-max-6 {
  width: 12%;
  margin-left: 2%;
  margin-right: 2%;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .list-cards .list-card-el {
    width: 42%!important;
    margin-left: 4%!important;
    margin-right: 4%!important;
  }
}
@media only screen and (max-width: 719px) {
  .list-cards .list-card-el {
    width: 70%!important;
    margin-left: 15%!important;
  }
}
.list-cards .paginator {
  margin-top: 25px;
  text-align: center;
}
.list-cards .paginator .page {
  margin: 5px;
  font-size: large;
  font-weight: bold;
  color: black;
}
.list-cards .paginator a.page {
  color: blue;
}
.list-cards .paginator a.page:visited,
.list-cards .paginator a.page:active {
  color: blue;
}
.right-margin-light {
  margin-right: 5px;
}
