/* Limit image width to avoid overflow the container */
img {
	max-width: 100%; /* This rule is very important, please do not ignore this! */
}

* {
	box-sizing: border-box;
}

*.hidden {
	display: none;
}

.global-container {
	width: 100%;
}

.editor, .preview {
	width: 50%;
	min-height: 100px;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}

.preview-canvas {
	display: block;
	margin: 0 auto;
}

.editor input, .editor textarea {
	display: block;
	min-width: 200px;
}
.editor textarea {
	width: 100%;
	height: 200px;
}
.editor input, .editor textarea, .mana-cost-container {
	margin-top: 10px;
}
.editor .card-mana-cost, .editor .mana-cost-buttons {
	display: inline-block;
	margin-top: 0;
}

.editor .uploaded-image-container {
	width: 50%;
}

.
